@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#tragos .imagen-trago, #postres .producto, #vinos .producto, .hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link-activo {
  background-color: black;
}
.link-activo a {
  color: white !important;
}

.custom-card {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.header {
  background-color: beige;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .row {
  width: 100%;
}
@media (max-width: 768px) {
  .header h1 {
    font-size: 2rem;
  }
}
.header nav ul {
  list-style: none;
}
.header nav ul li {
  margin: 20px 15px 20px 15px;
  border: 2px solid black;
}
.header nav ul li a {
  text-decoration: none;
  color: black;
  padding: 15px;
}

.hero {
  height: 900px;
  text-align: center;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
}
.hero .bienvenida {
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  margin: 40px;
  padding: 20px;
}
.hero .bienvenida h2 {
  font-size: 65px;
}
@media (max-width: 768px) {
  .hero .bienvenida h2 {
    font-size: 2rem;
  }
}

.platos {
  margin: 20px;
}
.platos h2 {
  text-align: center;
  font-size: 40px;
}
.platos p {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.platos .centrar-imagen {
  text-align: center;
}

.titulo {
  background-color: beige;
  padding: 20px;
}
.titulo h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}
.titulo .boton {
  background-color: black;
  width: fit-content;
  padding: 10px;
  margin-left: auto;
}
.titulo .boton a {
  color: white;
  text-decoration: none;
}

.contenedor-productos {
  justify-content: space-evenly;
  padding: 20px;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

#vinos .producto {
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  width: 250px;
  border: solid;
  border-width: thin;
  margin: auto;
  overflow: hidden;
}
#vinos .producto h3 {
  font-size: 23px;
}
#vinos .producto img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
}
#vinos .producto p {
  font-size: 20px;
}

#galeria .galeria-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 10px;
}
#galeria .galeria-grid .imagen-p {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
#galeria .galeria-grid .img2row {
  grid-row: span 2;
}
#galeria .galeria-grid .img2column {
  grid-column: span 2;
}
#galeria .galeria-grid .plato-galeria1 {
  background-image: url("../img/plato1.jpg");
}
#galeria .galeria-grid .plato-galeria2 {
  background-image: url("../img/plato4.jpg");
}
#galeria .galeria-grid .plato-galeria3 {
  background-image: url("../img/plato5.jpg");
}
#galeria .galeria-grid .plato-galeria4 {
  background-image: url("../img/plato6.jpg");
}
#galeria .galeria-grid .plato-galeria5 {
  background-image: url("../img/plato3.webp");
}
#galeria .galeria-grid .plato-galeria6 {
  background-image: url("../img/plato7.jpg");
}

#postres .producto {
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  width: 250px;
  border: solid;
  border-width: thin;
  margin: auto;
}
#postres .producto h3 {
  font-size: 20px;
}
#postres .producto .imagen-postre {
  background-size: cover;
  background-position: center;
  background-color: gray;
  width: 100%;
  height: 300px;
}
#postres .producto .postre3 {
  background-image: url("../img/cheesecake.jpg");
}
#postres .producto .postre2 {
  background-image: url("../img/flan napolitano.jpg");
}
#postres .producto .postre1 {
  background-image: url("../img/tiramisu.jpg");
}

.menu-container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 1rem;
}
.menu-container .menu-section {
  background-color: white;
  padding: 1.5rem;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}
.menu-container .menu-section .item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.menu-container .menu-section .item:hover {
  background-color: beige;
}
.menu-container h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: 2px solid #d2b48c;
  padding-bottom: 0.5rem;
}

.reserva-container .titulo {
  font-size: 2rem;
  color: #333;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.reserva-container .subtitulo {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
  text-align: center;
}
.reserva-container .cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.reserva-container .cards-container .card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  width: 280px;
  text-align: center;
}
.reserva-container .cards-container .card .card h3 {
  margin-bottom: 15px;
  font-size: 1.3rem;
  color: #333;
}
.reserva-container .cards-container .card .forn input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.reserva-container .cards-container .card .forn button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.reserva-container .cards-container .card .forn button:hover {
  background-color: #555;
}
.reserva-container .info-reserva {
  margin-top: 20px;
  font-size: 1rem;
  color: black;
  line-height: 1.5;
}

.encuentranos {
  text-align: center;
}

.ubicacion {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  text-align: center;
}
.ubicacion h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}
.ubicacion p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}
.ubicacion .mapa iframe {
  border: none;
  border-radius: 8px;
  width: 100%;
}
.ubicacion .addres {
  font-style: normal;
  font-size: 14px;
  margin-top: 20px;
  line-height: 1.6;
  color: gray;
}

.contacto {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  text-align: center;
}
.contacto h2 {
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
}
.contacto form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contacto .form-grupo {
  text-align: left;
}
.contacto .form-grupo label {
  display: block;
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
}
.contacto .form-grupo input, .contacto .form-grupo textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
}
.contacto .form-grupo b {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

footer {
  background-color: beige;
  padding: 20px;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}
footer h2 {
  font-size: 3rem;
  text-align: left;
  font-weight: 900px;
}
@media (max-width: 768px) {
  footer h2 {
    font-size: 2rem;
    text-align: center;
  }
}
footer .social-media {
  text-align: right;
}
@media (max-width: 768px) {
  footer .social-media {
    text-align: center;
  }
}
footer .social-media a {
  text-decoration: none;
}
footer .social-media a img {
  width: 60px;
  height: 60px;
  padding: 15px;
}

@media (max-width: 768px) {
  .hero {
    height: calc(100vh - 96px);
  }
  .hero h2 {
    font-size: 2rem;
  }
  .titulo h2 {
    font-size: 30px !important;
  }
  .boton {
    width: 100% !important;
    text-align: center;
    margin-left: unset;
  }
  .titulo {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .menu h1 {
    font-size: 2em;
  }
  .menu p {
    font-size: 1em;
  }
  .menu h2 {
    font-size: 1.5em;
  }
  .menu h3 {
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=estilos.css.map */
