footer {
    background-color: beige;
    padding: 20px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;

    h2 {
        font-size: 3rem;
        text-align: left;
        font-weight: 900px;

        @media (max-width: 768px) {
            font-size: 2rem;
            text-align: center;
        }
    }

    .social-media {
        text-align: right;

        @media (max-width: 768px) {
            text-align: center;
        }

        a {
            img {
                width: 60px;
                height: 60px;
                padding: 15px;
            }
        }
    }
}