.header {
    background-color: $color-3;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    h1 {
        @media (max-width: 768px) {
            font-size: 2em;
        }
    }

    nav {
        ul {
            list-style: none;
            display: flex;

            li {
                margin: 20px 15px 20px 15px;
                border: 2px solid $color-1;

                a {
                    text-decoration: none;
                    color: $color-1;
                    padding: 15px;

                }
            }
        }
    }
}