.header {
    background-color: $color-3;
    padding: 15px;
    @include flex (flex, space-between, center);

    .row {
        width: 100%;
    }

    h1 {
        @media (max-width: 768px) {
            font-size: nth($font-size, 1);
        }
    }

    nav {
        ul {
            list-style: none;

            li {
                margin: 20px 15px 20px 15px;
                border: 2px solid $color-1;

                a {
                    text-decoration: none;
                    color: $color-1;
                    padding: 15px;

                }
            }
        }
    }
}