.menu {
    font-family: "Poppins", sans-serif;
    width: 90%;
    max-width: 800px;
    background-color: $color-6;
    border: 2px solid $color-1;
    border-radius: 10px;
    box-shadow: 0 4px 8px $color-1(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    h1 {
        font-size: nth($font-size, 2);
        margin-bottom: 10px;
        color: $color-5;
        text-transform: uppercase;
        letter-spacing: 2px;

        @media (max-width: 768px) {
            font-size: nth($font-size, 1);
        }
    }

    p {
        margin-bottom: 20px;
        font-size: nth($font-size, 7);
        color: $color-1;

        @media (max-width: 768px) {
            font-size: nth($font-size, 8);
        }
    }

    h2 {
        font-size: nth($font-size, 1);
        margin-top: 30px;
        margin-bottom: 10px;
        color: $color-1;
        text-decoration: underline;

        @media (max-width: 768px) {
            font-size: nth($font-size, 9);
        }

        h3 {
            font-size: nth($font-size, 9);
            margin: 15px 0 5px;
            color: $color-7;

            @media (max-width: 768px) {
                font-size: nth($font-size, 10);
            }
        }

    }
}