.menu-container {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 1rem;

    .menu-section {
        background-color: $color-2;
        padding: 1.5rem;
        margin: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px $color-8;
    }

    .menu-section .item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        font-size: nth($font-size, 7);
        padding: 0.5rem;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    .menu-section .item:hover {
        background-color: $color-3;
    }

    h2 {
        margin-bottom: 1rem;
        font-size:  nth($font-size, 9);
        border-bottom: 2px solid $color-12;
        padding-bottom: 0.5rem;
    }
}