.reserva-form {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: $color-6;
    border-radius: 8px;
    box-shadow: 0 4px 6px $color-8;
    text-align: start;

    h1 {
        font-size: nth($font-size, 1);
        color: $color-1;
        margin-bottom: 10px;

    }

    label {
        font-size: nth($font-size, 8);
        color: $color-9;
        display: block;
        margin: 10px 0 5px;

    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid $color-10;
        border-radius: 5px;
        font-size: nth($font-size, 8);
    }

}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid $color-10;
    border-radius: 5px;
    font-size: nth($font-size, 8);
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid $color-10;
    border-radius: 5px;
    font-size: 1em;
    background-color: $color-11;
    color: $color-2;
    border: none;
    cursor: pointer;
    font-size: nth($font-size, 7);
}