.reserva-container {

    .titulo {
        font-size: 2rem;
        color: #333;
        margin-bottom: 5px;
        font-family: "Poppins", sans-serif;
        text-align: center;
    }

    .subtitulo {
        font-size: 1.2rem;
        color: #555;
        margin-bottom: 30px;
        text-align: center;
    }

    .cards-container {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        margin-bottom: 30px;

        .card {
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
            border-radius: 10px;
            padding: 20px;
            width: 280px;
            text-align: center;

            .card h3 {
                margin-bottom: 15px;
                font-size: 1.3rem;
                color: #333;

            }

            .forn input {
                width: 100%;
                margin-bottom: 10px;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-sizing: border-box;

            }

            .forn button {
                width: 100%;
                padding: 10px;
                background-color: #333;
                color: white;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                cursor: pointer;
                transition: background-color 0.3s ease;

            }

            .forn button:hover {
                background-color: #555;

            }

        }

    }

    .info-reserva {
        margin-top: 20px;
        font-size: 1rem;
        color: black;
        line-height: 1.5;

    }


}