//* VARIABLES

$color-1: black ;
$color-2: white;
$color-3: beige;
$color-4: gray;
$color-5: #b8860b;
$color-6: #ffffff;
$color-7: #6b4226;
$color-8: rgba(0, 0, 0, 0.7);
$color-9: #333;
$color-10: #ccc;
$color-11: #d4af37;


//* LISTAS 

$colores: black, white, beige, gray; 
$font-size: 2rem, 3rem, 65px, 40px, 20px, 23px, 1.1rem, 1rem, 1.5rem, 1.2rem, 24px, 16px, 14px;

//* OPERACIONES
//* + - * /

//* $ancho:720px; 


//* MAPAS
//* No se va a usar en el proyecto 


//* ENTENDS

%center{
    display: flex;
    justify-content: center;
    align-items: center;
}

//* MIXIN 

@mixin flex ($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}

.contenedor{
    @include flex (flex, space-between, center)
}

//* CONDICIONALES 
//! OPERADORES DE COMPARACION 
// = ASIGNACION
// == IGUAL
// === EXACTAMENTE IGUAL 
// > MAYOR QUE 
// < MENOR QUE 
// >= MAYOR O IGUAL 
// <= MENOR O IGUAL 
// if (condicional){
//     se ejecuta este codigo
// } else {
//     se ejecuta estre otro
// }

// @mixin modo ($modo){
//     @if $modo == black{
//         border: solid 2px purple;
//     }@else{
//         border: solid 2px yellow;
//     }
// }

//* BUCLES
//* No se va a usar en el proyecto 